@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  --primary-color: #62ccc3;
  --primary-color-hover: #a1e9e3;
  --primary-color-icontext: #fff;
  --font-family: "Noto Sans Mono", sans-serif;
}

.sidebar {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

.add-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 4.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-color-icontext);
}

.add-note svg {
  margin-right: 0.5em;
}

svg {
  width: 2rem;
  height: 2rem;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin: 2rem 0 0 2rem;
}

.empty {
  margin-top: 9rem;
  font-size: 1.5rem;
  color: #9c999c;
  text-shadow: 1px 1px 2px rgba(205, 196, 207, 0.8);
}

.saved-notes {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--primary-color);
  justify-content: space-between;
  height: 5rem;
  width: 92%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 2px rgb(221, 217, 217);
}

.title-saved-notes {
  text-align: start;
  font-size: 1.5rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-saved-notes {
  text-align: start;
  font-size: 1rem;
  color: rgb(136, 134, 134);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  text-align: end;
  font-size: 0.7rem;
  color: rgb(133, 132, 132);
}

.search {
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 0px 20px 2px rgb(221, 217, 217);
  border: none;
  outline: none;
  height: 1rem;
}

.search-div {
  display: flex;
  width: 17rem;
  height: 2rem;
  flex-direction: row;
  margin: 1rem 1rem;
  gap: 0.6rem;
}

.darkmode {
  border: none;
  border-radius: 8px;
  width: 2rem;
  height: 1.5rem;
  background-color: var(--primary-color);
}

.darkmode svg {
  height: 1.4rem;
  width: 1.7rem;
  color: #000;
}

.delete-all {
  width: 12.2rem;
  border: none;
  margin: 1rem;
  background-color: var(--primary-color);
  height: 3rem;
  font-size: 0.9rem;
  border-radius: 8px;
  color: var(--primary-color-icontext);
}

.search-button svg {
  height: 1.2rem;
  width: 1.2rem;
  color: #000;
}

.search-button {
  width: 4rem;
  border: none;
  border-radius: 8px;
  margin-right: 1rem;
  background-color: var(--primary-color);
}

/*==========mainContent======*/

.main-content {
  display: flex;
  display: none;
  flex-direction: row;
  margin: 1rem;
}

.title-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.title-input {
  font-size: 3rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  width: 70%;
}

.button-div {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.save,
.quit,
.delete {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color-icontext);
}

.add-note-input {
  margin-top: 1rem;
}

.note-input {
  font-size: 1.5rem;
  border: none;
  padding: 1.3rem;
  outline: none;
  height: 75vh;
  resize: none;
  width: 90%;
  border-radius: 8px;
  background-color: var(--primary-color-hover);
}

input::placeholder {
  color: rgb(173, 152, 173);
}

.title-input:focus,
.note-input:focus {
  outline: none;
  box-shadow: 0px 0px 8px 0px var(--primary-color-hover);
  border-radius: 12px;
}

.save:hover,
.delete:hover,
.add-note:hover,
.saved-notes:hover,
.selected,
.search-button:hover,
.quit:hover,
.delete-all:hover,
.darkmode:hover {
  background-color: var(--primary-color-hover);
  transition: 0.2s ease-in-out;
  color: grey;
  cursor: pointer;
}

.saved-notes:not(.selected) {
  cursor: pointer;
}
.empty,
.add-note,
.search-div,
.delete-all,
span,
div {
  caret-color: transparent;
  user-select: none;
}

input,
textarea {
  caret-color: var(--primary-color);
}

.dark-mode .main-content,
.dark-mode .title-button,
.dark-mode .add-note,
.dark-mode .sidebar,
.dark-mode .title-input,
.dark-mode,
.dark-mode .saved-notes,
.dark-mode .messagebox,
.dark-mode .messagebox2 {
  background-color: black;
}

.dark-mode .saved-notes {
  border: none;
}

.dark-mode .delete-all,
.dark-mode .add-note,
.dark-mode .search-button,
.dark-mode .save,
.dark-mode .quit,
.dark-mode .delete,
.dark-mode .darkmode,
.dark-mode .confirm,
.dark-mode .confirm2 {
  background-color: rgb(54, 5, 48);
  color: rgb(221, 173, 204);
}

.dark-mode svg {
  color: rgb(221, 173, 204);
}

.dark-mode .search,
.dark-mode .note-input {
  background-color: rgb(117, 92, 114);
  box-shadow: 0px 0px 11px 7px rgb(51, 25, 43);
  color: rgb(54, 5, 48);
}

body.dark-mode .title-input {
  color: rgb(54, 5, 48);
  box-shadow: 0px 0px 10px 7px rgb(51, 25, 43);
}

.dark-mode .saved-notes,
.dark-mode .messagebox,
.dark-mode .messagebox2 {
  box-shadow: 0px 0px 10px 7px rgb(51, 25, 43);
  color: rgb(117, 92, 114);
}

.dark-mode .saved-notes:hover,
.dark-mode .add-note:hover,
.dark-mode .delete-all:hover,
.dark-mode .darkmode:hover,
.dark-mode .save:hover,
.dark-mode .quit:hover,
.dark-mode .delete:hover,
.dark-mode .search-button:hover,
.dark-mode #yes2:hover,
.dark-mode #yes:hover,
.dark-mode #no2:hover,
.dark-mode #no:hover {
  background-color: rgb(117, 92, 114);
  color: black;
}

.messagebox,
.messagebox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: auto;
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: rgb(12, 11, 11);
  visibility: hidden;
  border: 1px solid #757373;
}

.confirmbuttons,
.confirmbuttons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.confirm,
.confirm2 {
  color: #000;
  width: 4rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
}

.icon,
.icon2 {
  width: 2rem;
  margin-bottom: 1rem;
}

#yes:hover,
#yes2:hover {
  background-color: rgb(118, 199, 118);
}
#no:hover,
#no2:hover {
  background-color: rgb(221, 108, 108);
}

@media only screen and (max-width: 700px) {
  .title-input {
    font-size: 1.5rem;
    font-weight: 600;

    padding: 1rem;
    width: 90%;
  }

  .title-button {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  #note-content-id {
    font-size: 1.2rem;
  }

  .button-div button {
    width: 3rem;
    height: 2rem;
  }

  .button-div svg {
    width: 1.6rem;
    height: auto;
  }

  .note-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    gap: 0.8rem;
  }

  .sidebar {
    align-items: center;
  }

  .delete-all {
    margin-bottom: 3rem;
  }

  .add-note {
    width: 90%;
    margin: 1rem 2rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
